body {
heigth: 100vh;
width: 100vm;
background-color: black;
margin: 0rem;
overflow: hidden;
}

.link {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    text-shadow: inherit;
}

#luz {
  background-color: rgba(134, 128, 128, 0.5);
  height: 500px;
  aspect-ratio:  1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(90deg, rgb(8, 7, 7) 0%, rgb(255, 255, 255) 100%);
  animation: rotate 20s infinite;
  filter: blur(200px);
  z-index: 1;
}
@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.name-container {
  position: absolute;
  width: 100%;
  top: 20px;
  z-index: 4;
  display: flex;
  justify-content: center;
}
#name {
  font-family: 'Oswald', sans-serif;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.259);
  font-weight: bold;
  font-size: 49px;
  color: rgb(162, 162, 162);
}
@media (max-width: 400px) {
  #name {
    font-size: 20px;
    right: 20px;
    top: 10px;
  }
}

#blur {
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  position: absolute;
  backdrop-filter: blur(200px);
  ;
}
.image {
    width: 40vmin ;
    height: 56vmin;
    object-fit: cover;
    object-position: 100%, 50%;
    z-index: 0;
}
#text-box {
text-shadow: 1px 1px 5px rgb(255, 255, 255);
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Oswald', sans-serif;
}
.image-container {
  z-index: 0;
  position: relative;
  width: 40vmin ;
  height: 56vmin;
  object-position: 100%, 50%;
  cursor: pointer;
}
#luz2 {
  background-color: rgba(134, 128, 128, 0.5);
  height: 500px;
  aspect-ratio:  1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(90deg, rgb(8, 7, 7) 0%, rgb(255, 255, 255) 100%);
  animation: rotate 20s infinite;
  filter: blur(200px);
  z-index: 1;
}

.image-text {
    font-family: 'Oswald', sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}
.image-text:hover {
  opacity: 1;
}
#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 0;
    top: 40%;
    transform: translate( 0%, -50%);
    z-index: 2;
}

